<div class="container">
<p *ngFor="let value of values">{{ value.id }},{{ value.name }}</p>
<div class="btn-group" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-primary dropdown-toggle"
    aria-controls="dropdown-basic"
  >
    Button dropdown <span class="caret"></span>
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-basic"
  >
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Something else here</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input
      type="text"
      placeholder="Datepicker"
      class="form-control"
      bsDatepicker
    />
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input
      type="text"
      placeholder="Daterangepicker"
      class="form-control"
      bsDaterangepicker
    />
  </div>
</div>

<button
  type="button"
  class="btn btn-success"
  popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
  popoverTitle="Dismissible popover"
  triggers="focus"
>
  Dismissible popover
</button>
</div>